*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
gradle/
app/bin/*
node_modules/*
.project
package-lock.json
.settings/*
app/production/*
app/.settings/*
app/.classpath
